@import './common';
@import './responsive';

body{
    @include flex-column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #eaf4ff;
}
@mixin formlogo {
    object-fit: contain;
    width: 15%;
}

// input.html
.inputform_container{
    @include flex-column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    img{
        @include formlogo;
        margin: 20px auto 0 20px;
    }
    p,li{
        @include font(20,0);
    }
    .title{
        @include font(50,600);
        letter-spacing: 5px;
        @include mq('ipad'){
            font-size: 40px;
        }
        @include mq('iphone8+'){
            font-size: 30px;
        }
        @include mq('iphone8'){
            font-size: 25px;
        }
        @include mq('iphone5'){
            font-size: 20px;
        }
    }
    .flow{
        @include flex-row;
        width: 90%;
        margin-top: 20px;
        list-style-type: none;
        justify-content: center;
        li{
            @include flex-row;
            @include font(35,550);
            width: 30%;
            height: 80px;
            border: 1px solid black;
            margin: 10px;
            background-color: white;
            justify-content: center;
            align-items: center;
            @include mq('sur'){
                width: 40%;
                font-size: 20px;
            }
            @include mq('iphone8+'){
                height: 60px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                height: 50px;
                font-size: 10px;
            }
        }
        #num1{
            background-color: #a9a9a9;
            color: white;
        }
        .nexticon{
            @include flex-column;
            justify-content: center;
            align-items: center;
            &:before{
                font-family: "Font Awesome 5 Free";
                font-size: 60px;
                font-weight: 600;
                content: "\f101";
                color: #e0e0e0;
                @include mq('iphone8+'){
                    font-size: 40px;
                }
            }
        }
    }
    form{
        @include flex-column;
        width: 60%;
        max-width: 1000px;
        background-color: white;
        border: 2px solid;
        padding: 20px;
        margin: 20px 0;
        @include mq('ipad'){
            width: 80%;
        }
        p{
            @include mq('sur'){
                font-size: 20px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                font-size: 10px;
            }
        }
        input{
            border: 1px solid;
            height: 30px;
            width: 100%;
        }
        textarea{
            border: 1px solid;
            width: 100%;
        }
        .btn{
            @include flex-row;
            height: 50px;
            justify-content: space-around;
        }
        input{
            @include mq('sur'){
                font-size: 20px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                font-size: 10px;
            }
        }
        input[type = "submit"]{
            @include font(25,550);
            width: 300px;
            height: 100%;
            background-color: blue;
            color: white;
            border-radius: 10px;
            margin: 10px;
            @include mq('sur'){
                font-size: 20px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                font-size: 10px;
            }
        }
        input[type = "reset"]{
            @include font(25,500);
            width: 300px;
            height: 100%;
            border-radius: 10px;
            margin: 10px;
            @include mq('sur'){
                font-size: 20px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                font-size: 10px;
            }
        }
        .error{
            color: red;
            @include mq('sur'){
                font-size: 20px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                font-size: 10px;
            }
        }
    }
}
// verfication.php
.verification_container{
    @include flex-column;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    img{
        @include formlogo;
        margin: 20px auto 0 20px;
    }
    .title{
        @include font(50,600);
        letter-spacing: 5px;
        text-align: center;
        @include mq('ipad'){
            font-size: 40px;
        }
        @include mq('iphone8+'){
            font-size: 30px;
        }
        @include mq('iphone8'){
            font-size: 25px;
        }
        @include mq('iphone5'){
            font-size: 20px;
        }
    }
    .flow{
        @include flex-row;
        width: 90%;
        margin-top: 20px;
        list-style-type: none;
        justify-content: center;
        li{
            @include flex-row;
            @include font(35,550);
            width: 30%;
            height: 80px;
            border: 1px solid black;
            margin: 10px;
            background-color: white;
            justify-content: center;
            align-items: center;
            @include mq('sur'){
                width: 40%;
                font-size: 20px;
            }
            @include mq('iphone8+'){
                height: 60px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                height: 50px;
                font-size: 10px;
            }
        }
        #num2{
            background-color: #a9a9a9;
            color: white;
        }
        .nexticon{
            @include flex-column;
            justify-content: center;
            align-items: center;
            &:before{
                font-family: "Font Awesome 5 Free";
                font-size: 60px;
                font-weight: 600;
                content: "\f101";
                color: #e0e0e0;
                @include mq('iphone8+'){
                    font-size: 40px;
                }
            }
        }
    }
    .inputItems{
        @include flex-column;
        width: 60%;
        max-width: 1000px;
        background-color: white;
        border: 2px solid;
        padding: 5px;
        margin: 20px 0;
        list-style: none;
        justify-content: center;
        align-items: center;
        @include mq('ipad'){
            width: 80%
        }
        @include mq('pixel'){
            width: 90%
        }
        @include mq('iphone5'){
            width: 100%
        }
        li{
            @include flex-row;
            align-items: center;
            width: 100%;
            height: 25px;
            margin-bottom: 10px;
            background-color: #e2e2e2;
            .title{
                align-items: center;
                margin: auto 0 auto 10px;
            }
        }
        .request{
            height: auto;
            max-height: 500px;
            word-break : break-all;
        }
        .title{
            @include flex-row;
            @include font(10,550);
            width: 45%;
            margin: auto 0 auto 10px;
            letter-spacing: 1px;
            @include mq('iphone8'){
                font-size: 8px;
            }
            @include mq('iphone5'){
                font-size: 3px;
            }
        }
        .text{
            @include font(10,550);
            width: 55%;
            margin-left: 15px;
            @include mq('iphone8'){
                font-size: 8px;
            }
            @include mq('iphone5'){
                font-size: 3px;
            }
        }
    }
    .submit,.goback{
        @include flex-row;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        margin: 10px;
        a{
            @include flex-row;
            width: 100%;
            height: 100%;
            text-decoration: none;
            border: 1px solid;
            justify-content: center;
            align-items: center;
        }
    }
    .submit{
        background-color: blue;
        a{
            @include font(25,550);
            color: white;
        }
    }
    .goback{
        background-color: white;
        a{
            @include font(20,550);
            color: black;
        }
    }
}

// thanks.html
.thanks_container{
    @include flex-column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    img{
        @include formlogo;
        margin: 20px auto 0 20px;
    }
    .title{
        @include font(50,600);
        letter-spacing: 5px;
        @include mq('ipad'){
            font-size: 40px;
        }
        @include mq('iphone8+'){
            font-size: 30px;
        }
        @include mq('iphone8'){
            font-size: 25px;
        }
        @include mq('iphone5'){
            font-size: 20px;
        }
    }
    .flow{
        @include flex-row;
        margin-top: 20px;
        list-style-type: none;
        width: 90%;
        justify-content: center;
        li{
            @include flex-row;
            @include size(200,80);
            @include font(35,550);
            border: 1px solid black;
            margin: 10px;
            background-color: white;
            justify-content: center;
            align-items: center;
            @include mq('sur'){
                width: 40%;
                font-size: 20px;
            }
            @include mq('iphone8+'){
                height: 60px;
            }
            @include mq('iphone8'){
                font-size: 15px;
            }
            @include mq('iphone5'){
                height: 50px;
                font-size: 10px;
            }
        }
        #num3{
            background-color: #a9a9a9;
            color: white;
        }
        .nexticon{
            @include flex-column;
            justify-content: center;
            align-items: center;
            &:before{
                font-family: "Font Awesome 5 Free";
                font-size: 60px;
                font-weight: 600;
                content: "\f101";
                color: #e0e0e0;
                @include mq('iphone8+'){
                    font-size: 40px;
                }
            }
        }
    }
    .mailicon{
        margin-top: 20px;
        &:before{
            font-family: "Font Awesome 5 Free";
            font-size: 100px;
            content: "\f0e0";
            color: blue;
            @include mq('iphone8+'){
                font-size: 90px;
            }
            @include mq('iphone8'){
                font-size: 80px;
            }
        }
    }
    .textm{
        @include font(40,600);
        letter-spacing: 5px;
        margin-top: 20px;
    }
    .texts{
        @include font(20,600);
        margin-top: 20px;
    }
    .gohome{
        @include flex-row;
        @include size(100,20);
        width: 150px;
        height: 40px;
        margin-top: 30px;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid black;

    }
    a{
        @include flex-row;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
        justify-content: center;
        align-items: center;
    }
}